@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: #fff;
}
section {
  background: url(/static/img/8775009_xl-Metal-Stopwatch---onpage_0.webp);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
}
h1 {
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.control input {
  padding: 10px;
  font-size: 16px;
  display: block;
  width: 100%;
  color: #000;
  background: #ddd;
  outline: none;
  border: none;
  margin: 1em 0;
}
.control .btn {
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.btn:focus {
  opacity: 1;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
  color: #fff;
}

.active {
  opacity: 1;
  color: blue !important;
  letter-spacing: 0.6px;
  font-weight: 600;
}
.navbar-dark .navbar-nav .active > .nav-link {
  color: #fff !important;
  opacity: 1;
}

/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright {
  padding: 10px 0;
}

#copyright * {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------ table padding  --------------------------------------------------------- */

#usertable1 {
  padding: 50px;
}

/* ------------------------------------------------------  report  --------------------------------------------------------- */

.invoice {
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 20px;
  margin: 10px 25px;
}
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}

#report {
  padding: 80px;
}

/* =================  CAPS INPUT ============ */

.caps {
  text-transform: uppercase;
}
.caps1 {
  text-transform: capitalize;
}

/* =================  Table Head ============ */
table thead tr th {
  text-align: center !important;
}

/* #tabledd{
    background: rgba(242, 239, 239, 0.583);
    width: 50% !important;
    overflow: auto !important;
} */
th,
td {
  white-space: nowrap;
}
div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.errorlist li {
  list-style-type: none;
  font-size: 1rem;
  color: red;
  margin-top: 5px;
}
/* .imgplace{
  position: relative;
  height: 200px;
}

.imgplace #imagepreview{
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  object-fit: contain;
} */

/* ==== first Capital ===== */
.firstupper {
  text-transform: capitalize;
}
.imgplace {
  position: relative;
  width: 80%;
  max-width: 100%;
  height: 200px;
  /* border: 2px solid black; */
  overflow: hidden;
}
.imgplace .profile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

/* =====  card Hover  ===== */
.cardhov {
  transition: 0.5s;
  border-radius: 20px;
}
.cardhov:hover {
  transform: scale(1.1);
}

/* =====  Print Page  ===== */

@media print {
  /* Hide every other element */
  body * {
    visibility: hidden;
  }
      /* Then displaying print container elements  */
  .print-container, .print-container * {
    visibility: visible;
  }
}

/* =======   Show Password   =====  */

.input-field2{
  width: 100%;
  position: relative;

} 
.input-field2 input {
  position: relative;
  width: 100%;
}
.input-field2 .icon{
  position: absolute;
  top: 30%;
  right: 5%;
  cursor: pointer;

}

#errormes{
  text-transform: capitalize;
  background: darkorange;
}

#errorul{
  text-align: center
}

#errorul li{
  list-style: none;
  color: red;
  margin-bottom: 10px;
}