{% extends "dashboardbase.html" %} {% load static %} {% block content %}

<div class="container-fluid px-5 ">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="text-center mb-5">
            <h2 class="text-gray-800 text-uppercase
                        font-weight-bold"><br>Dashboard</h2>
        </div>
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card cardhov border-left-primary shadow
                            h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters
                                    align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs
                                            font-weight-bold
                                            text-success
                                            text-uppercase
                                            mb-1">
                                    Total road users </div>
                                <div class="h5 mb-0
                                            font-weight-bold"> {{ road_user }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign
                                            fa-2x text-gray-800"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card cardhov border-left-success shadow
                            h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters
                                    align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs
                                            font-weight-bold
                                            text-success text-uppercase
                                            mb-1">
                                    total Challan</div>
                                <div class="h5 mb-0
                                            font-weight-bold">{{ total_chellan }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign
                                            fa-2x text-gray-800"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card cardhov border-left-success shadow
                            h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters
                                    align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs
                                            font-weight-bold
                                            text-success text-uppercase
                                            mb-1">
                                    paid </div>
                                <div class="h5 mb-0
                                            font-weight-bold">Rs : {{ paid_due.total_penalty__sum  }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-rupee-sign
                                            fa-2x text-gray-800"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card cardhov border-left-warning shadow
                            h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters
                                    align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs
                                            text-danger
                                            font-weight-bold
                                            text-uppercase
                                            mb-1">
                                    Pending Due</div>
                                <div class="h5 mb-0
                                            font-weight-bold"> Rs: {{ unpaid_due.total_penalty__sum}} </div>
                                <span class="text-gray-800"><small>CHALLANS UNPAID</small></span>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-asterisk
                                            fa-2x text-gray-800"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-sm-12">
        <div class="row">
            <div class="col-lg-6 mb-4 text-center">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold
                                    text-secondary">ROAD VALUTATIONS</h6>
                    </div>
                    <div class="card-body">
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4 text-center">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold
                                    text-secondary">SURVELLIANCES</h6>
                    </div>
                    <div class="card-body">
                        <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-md-12">
        <div class="card shadow mb-4 text-center">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold
                            text-secondary">E - CHALLAN ACTIVITY</h6>
            </div>
            <div class="card-body">
                <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
            </div>
        </div>

    </div>

</div>


<script>
    window.onload = function () {

        //    chart 1

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Road Violation"
            },
            axisX: {
                interval: 1
            },
            axisY: {
                includeZero: true,

            },
            data: [{
                type: "bar",
                dataPoints: [

                {% for points in datapoints %}
                    { label: "{{points.label}}", y: {{points.y}} },
                {% endfor %}
                ]
            }]
        });
        chart.render();

        //     Chart 2

        var chart1 = new CanvasJS.Chart("chartContainer1", {
            theme: "light2", //
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Survelliances"
            },
            data: [{
                type: "pie",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: 160, label: "TOTAL SURVELLIANCE" },
                    { y: 148, label: "ACTIVE SURVELLIANCE" },
                    { y: 12, label: "INACTIVE SURVELLIANCE" },
                ]
            }]
        });
        chart1.render();


        //     Chart 3

        var chart2 = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            title: {
                text: "Overall E-Challan Payments"
            },
            axisY: {
                title: "E-Challan Paid",
                titleFontColor: "#4F81BC",
                lineColor: "#4F81BC",
                labelFontColor: "#4F81BC",
                tickColor: "#4F81BC"
            },
            axisY2: {
                title: "E-Challan Pending",
                titleFontColor: "#C0504E",
                lineColor: "#C0504E",
                labelFontColor: "#C0504E",
                tickColor: "#C0504E"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                itemclick: toggleDataSeries
            },
            data: [{
                type: "column",
                name: "Paid Amount",
                legendText: "Paid Amount",
                showInLegend: true,
                dataPoints: [

                {% for p in paid %}    
                    { label: "{{p.month}}", y: {{p.paid}} },
                {% endfor %}

                ]
            },
            {
                type: "column",
                name: "Non Paid (million/day)",
                legendText: "Non Paid",
               // axisYType: "secondary",
                showInLegend: true,
                dataPoints: [

                {% for p in unpaid %}    
                { label: "{{p.month}}", y: {{p.unpaid}} },
            {% endfor %}
       
                ]
            }]
        });
        chart2.render();

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }


    }


</script>
{% endblock content %}